.container-leaderboard {
  align-items: center;
  background-image: url("../../../assets/sky.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
  max-height: 100vh;
  max-width: 100%;
  width: 100vw;
  margin: 0;
}

.container-cards {
  grid-auto-flow: dense;
}

.container-cards > div:nth-child(1) {
  bottom: 10%;
}

.container-cards > div:nth-child(2) {
  order: -1;
}

.container-cards > .card:nth-child(2) .avatar {
  width: 95%;
}
